#map {
    width: 100%;
    height: 100%;
}

#floating-panel {
    position: absolute;
    width: 500px;
    top: 5px;
    left: 10%;
    z-index: 5;
    padding: 5px;
    text-align: left;
    font-family: "Roboto", "sans-serif";
    font-size: small;
    display: flex;
    justify-content: space-between;
}

#address {
    width: 100%;
}

.popup {
    margin: 0;
    padding: 0;
}

.popup.titulo {
    margin: 0!important;
    padding: 0;
}